<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#">My Data Center</a>
  <form class="form-inline">
    <button class="btn btn-success" style="background-color: #8616f6;" type="button"(click)="refresh()">Reload</button>
  </form>
</nav>
<style>.btn { background-color: #3284b8;}</style>

<!-- A ordem de prioridade dos estilos de CSS segue a ordem abaixo:
1. estilo inline com atributo
2. estilo inline no template <style>...</style>
3. Estilo no componente usando styles ou stylesUrls (o ultimo declarado tem prioridade)
4. CSS global
-->
